h1{
  text-align: center;
}
h2{
  text-align: center;
  color: white;
}
.jumbotron{
  background-image:url('../img/backgrounds/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.centered{
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}
.party{
  background-color: #F78505;
}
.logo{
  padding-left: 40%;
  padding-top: 5%;
}
.col-md-3{
  padding: 0%;
  margin: 0%;
  

}
.bf{
  width: 100%;
}
#bf{
  height: 271px;
}
.menu{
  background-image: url('../img/backgrounds/foodsBg.jpg');
  background-size: cover;
  height: 600px;
}
#hh{
    background-color: #B9B8B6;
    height: 136px;
}
#pt{
  background-color: #FB8E03;
  height: 136px;
}
.contacts{
  height: 300px;
}
.email{
  background-image: url("../img/backgrounds/subscribe.jpg");
  background-size: cover;
  height: 300px;
}
.footer2{
  background-color:  #F78505;
  height: 300px;
}
.customers{
  background-color: #F8FFFE;
  height: 400px;
}
#hey img{
  width: 50%;
}

#food img{
  width: 100%;
}
.mimi{
 text-align: right;
}
.well{
  background-color: white;
}
h5{
  text-align: center;
  padding-left: 5%;
  padding-top: 1%;
}
.button1 {
    background-color: white;
    color: #F78505;
    border: 2px solid #F78505;
    width: 25%;
}
p{
  font-size: 20px;
}
.glyphicon.glyphicon-menu-hamburger{
  font-size: 75px;
  color: white;
}
.col-md-4{
border-right: 1px solid gray;
}

.button{
    background-color: #F78505;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input{
  padding:15px 32px;
}
