h1{
  text-align: center;
}
h2{
  text-align: center;
  color: white;
}
.jumbotron{
  background-image:url('../img/backgrounds/landing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.party{
  background-color: #F78505;
}
.logo{
  padding-left: 40%;
  padding-top: 5%;
}
